@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* Solution */

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid black;
  height: 100%;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background-color: #eeeeee;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #A9A9A9;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex: 1;
}

button {
  padding: 8px 16px;
}