/* Add CSS Styling */
.odd-number {
    background-color: #ff7f7f;
    font-family: "Verdana", "DejaVu Sans", "sans-serif";
}

.odd-number#third-element {
    font-size: 24px;
}

#second-element {
    background-color: #90d5ff;
    font-size: 36px;
}

#fourth-element {
    background-color: #88e788;
    font-size: 24px;
    font-weight: bold;
}