* {
  margin: 0;
  padding: 0;
}

.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.left-links,
.right-links {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  /* padding-left: 10px;
  padding-right: 10px;
   */
  list-style-type: none;
  display: flex;
  /* justify-content: space-between; */
  gap: 10px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}