body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 15px;
}

.title {
  background: #e3f4ff;
  padding: 12px;
  margin-bottom: 10px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding: 15px 8px 15px 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: 0 auto;
  padding: 8px 24px;
}